html, body {
    height: 100%;
   height: 100%;
    margin: 0;

}

.global-font {
    font-family: "Century Gothic";
    font-weight: 200;   
}

.global-color{
    color: white;
}


.header-box {
    background-color: #353130;
    min-height: 80px;
}

.header-title {
    position: absolute;
    top: 10%;
    left: 5%;
    color:whitesmoke;
    font-size: 2.5vmax
}
/*social media button classing*/
#social-grp {
    position: absolute;
    right: 3%;
    top: 25%;
}
.fa {
    padding: .4rem;
    font-size: 20px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa:hover {
    opacity: 0.7;
}
/*social media element classing*/

.navbar-nav > li{
    padding-left: 50px;
    padding-right: 20px;
}
.carousel {
    width: auto;
    height: auto;
    overflow: none;
    padding: 0 0;
}


/*
styling for images in carousel
*/

.carousel-wrapper {
    background-color: #404040	;
    height: auto;
    width: auto;
    overflow: none;

}
.carousel-item { 
    background-color:HSL (0, 2%, 70%);
    width: auto; 
    height: auto;
     
}
.carousel-image {
    width: 700px;
    max-height: 240px;
    margin: 0 auto;
}

@media (max-width:632px) {
.carousel-image { 
    width: 80%;
    max-height:120px;
    margin: 0 auto;
}
}

/*flex box*/
.flex-container{
    margin: 0;
    width: 100%;
    height: auto;
    background-color: rgb(26, 26, 26);
    display: -webkit-flex;
    display: flex;
    flex-flow: row;
    padding-top: 2%;
}
/*Services container*/
#flex-item-services{
    width:inherit;
    height: auto;
    border: 1px solid whitesmoke;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    }

.flex-block {
    width: 220px;
    height:100px;
    border: 1px solid whitesmoke;
    }
.flex-block-lg {
    width: 100%;
    height: 100%;
    border: 1px solid whitesmoke;
}
.block-txt {
    text-align: center;
}

/*styling for service icons*/



/*form-container*/
.flex-item-form_container{
    width: 30%;
    height: auto;
    background-color:#595959; 
    padding:1% ; 
    color: #efedef;
}

#contact-form {
    background-color:rgb(26, 26, 26);
    padding: 3%;
    width: 100%;
    display: visible;
    border: 1px solid white;
}

.first-last-email{
    float: left;
}
.comment-bx{
    float: right;
}

.special-input[type="text"] {
    padding: 10px;
    border: solid 1px #dcdcdc;
    transition: box-shadow 0.3s, border 0.3s;
}
.special-input[type="text"]:focus,
.special-input[type="text"].focus {
    border: solid 1px white;
}

 /*query for expanding flex box to 100%*/
    @media (max-width: 632px){
        .flex-container {display: block; width: 100%;}
        .flex-item-form_container {width: 100%;}
        .flex-item-lg {width:100%;}
        .flex-item-sm {width: 20%;}
        #flex-item-services {width: 100%;}
        
        
    }