html, body {
    height: 100%;
    min-height: 100%;
    margin: 0;

}


.header-box {
    background-color: #353130;
    min-height: 80px;
}

.header-title {
    position: absolute;
    top: 25%;
    left: 5%;
    color:#efedef;
    font-size: 2.5vmax;
}
/*social media button classing*/
#social-grp {
    position: absolute;
    right: 3%;
    top: 25%;
}
.fa {
    padding: .4rem;
    font-size: 20px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}s

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa:hover {
    opacity: 0.7;
}
/*social media button classing*/